<%- contentFor('body') %>
<h4 class="title-content"><%=title%></h4>

<div class="fixed-action-btn">
    <a class="btn-floating btn-medium green" href="/alunos/add">
        <i class="large material-icons">add</i>
    </a>
</div>