<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Crud Carros</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">CRUD</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/tabelas">Tabelas</a></li>
        <li><a href="/marcas">Marcas</a></li>
        <li><a href="/modelos">Modelos</a></li>
        <li><a href="/versao">Versões</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/tabelas">Tabelas</a></li>
        <li><a href="/marcas">Marcas</a></li>
        <li><a href="/modelos">Modelos</a></li>
        <li><a href="/versao">Versões</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <main>
    <div id="content" hidden class="container">
      <%- body %>
    </div>

    <div class="center">
      <div id="loader" style="margin-top: 150px;" class="preloader-wrapper big">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>


  </main>
</body>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../../js/jquery-mask.min.js"></script>
<script src="../../js/init.js"></script>
<script src="../../js/jquery.validate.js"></script>
<script src="../../js/mask-form.js"></script>
<script src="../../js/validation-scripts/tabelas-validation.js"></script> 
<script src="../../js/validation-scripts/marcas-validation.js"></script> 
<script src="../../js/validation-scripts/modelos-validation.js"></script> 
<script src="../../js/validation-scripts/versao-validation.js"></script> 
<script>

$(window).load(function () {
  $("#loader").addClass('active');
  setTimeout(() => {

    $("#content").fadeIn(500);
    $("#loader").removeClass('active');

  }, 800);
})

</script>
</html>